/* Importing Google font - Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #175d69 23%, #330c43 95%);
}

.bajo {
    font-size: medium;
    text-align: center;
    color: white;
    font-weight: bold;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 15px;
}

.navbar .logo a {
    font-size: 1.8rem;
    text-decoration: none;
    color: #fff;
}

.navbar .links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 35px;
}

.navbar .links a {
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    padding: 10px 0;
    transition: 0.2s ease;
}

.navbar .links a:hover {
    color: #47b2e4;
}

.navbar .buttons a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 15px 0;
    transition: 0.2s ease;
}

.navbar .buttons a:not(:last-child) {
    margin-right: 30px;
}

.navbar .buttons .signin:hover {
    color: #47b2e4;
}

.navbar .buttons .signup {
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 0.375rem;
    text-align: center;
    transition: 0.2s ease;
}

.navbar .buttons .signup:hover {
    background-color: #47b2e4;
    color: #fff;
}

.hero-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 95vh;
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.hero-section .hero {
    max-width: 50%;
    color: #fff;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #c9c7c7;
}

.hero-section .img img {
    width: 517px;
}

.hero-section .buttons {
    margin-top: 40px;
}

.hero-section .buttons a {
    text-decoration: none;
    color: #fff;
    padding: 12px 24px;
    border-radius: 0.375rem;
    font-weight: 600;
    transition: 0.2s ease;
    display: inline-block;
}

.hero-section .buttons a:not(:last-child) {
    margin-right: 15px;
}

.buttons .join {
    background-color: #47b2e4;
}

.hero-section .buttons .learn {
    border: 1px solid #fff;
    border-radius: 0.375rem;
}

.hero-section .buttons a:hover {
    background-color: #47b2e4;
}

/* Hamburger menu styles */
#menu-toggle {
    display: none;
}

#hamburger-btn {
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
    order: 1;
}

@media screen and (max-width: 1023px) {
    .navbar .logo a {
        font-size: 1.5rem;
    }

    .links {
        position: fixed;
        left: -100%;
        top: 75px;
        width: 100%;
        height: 100vh;
        padding-top: 50px;
        background: #175d69;
        flex-direction: column;
        transition: 0.3s ease;
    }

    .navbar #menu-toggle:checked~.links {
        left: 0;
    }

    .navbar #hamburger-btn {
        display: block;
    }

    .header .buttons {
        display: none;
    }

    .hero-section .hero {
        max-width: 100%;
        text-align: center;
    }

    .hero-section img {
        display: none;
    }
}

/* login */

/* Importación de la fuente Poppins desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Estilos globales aplicados a todos los elementos */
* {
    font-family: 'Poppins', sans-serif;
}

/* Estilos para el contenedor principal "wrapper" */
.wrapper {
    background: rgb(201, 200, 200);
    padding: 0 20px 0 20px;
}

/* Estilos para el contenedor principal "main" */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Estilos para la columna de imagen "side-image" */
.side-image {
    background-image: url("images/2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
    position: relative;
}

/* Estilos para la fila "row" */
.row {
    width: 900px;
    height: 550px;
    border-radius: 10px;
    background: #fff;
    padding: 0px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

/* Estilos para el mensaje de texto "text" */
.text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text p {
    font-weight: bold;
    text-align: center;
    color: black;
    padding-top: 400px;
    font-size: small;
}

i {
    font-weight: 400;
    font-size: 15px;
}

/* Estilos para la columna derecha "right" */
.right {
    background-color: #07918C;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Estilos para el contenedor del formulario de registro "input-box" */
.input-box {
    width: 330px;
    box-sizing: border-box;
}

/* Estilos para el encabezado del formulario "header" */
.input-box header {
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
}

/* Estilos para los campos de entrada de texto "input-field" */
.input-field {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}

.input {
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    margin-bottom: 20px;
    color: #40414a;
}

/* Estilos para las etiquetas de los campos de entrada */
.input-box .input-field label {
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
    color: white;
}

/* Estilos para las etiquetas cuando los campos de entrada tienen el enfoque */
.input-field input:focus~label {
    top: -10px;
    font-size: 13px;
    color: white;
}

/* Estilos para las etiquetas cuando los campos de entrada son válidos */
.input-field input:valid~label {
    top: -10px;
    font-size: 13px;
    color: white;
}

/* Estilos para los campos de entrada cuando tienen el enfoque o son válidos */
.input-field .input:focus {
    padding-top: 10px;
}

.input-field .input:valid {
    border-radius: 3%;
    transition: 600ms;
    border-bottom: 1px solid #743ae1;
}

/* Estilos para el botón "Sign Up" */
.submit {
    border: none;
    outline: none;
    height: 45px;
    background: #ececec;
    border-radius: 5px;
    transition: .4s;
}

/* Estilos para el botón cuando se pasa el mouse sobre él */
.submit:hover {
    background: #01E6C7;
    color: #fff;
}

/* Estilos para el área de "Sign In" */
.signin {
    text-align: center;
    font-size: small;
    margin-top: 25px;
}

.recordar {
    color: white;
    font-size: small;
}

/* imagen de la izquierda */
.imalogin {
    padding-top: 80px;
    padding-right: 30px;
    width: 400px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.olcon:visited,
.olcon:link {
    padding-left: 30px;
    font-size: small;
    color: white;
}

.olcon:hover {
    color: gainsboro;
}

.cabeza {
    color: white;
    font-size: 190%;
}

/* Estilos para los enlaces en el área "Sign In" */
span a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
    transition: .5s;
}

/* Estilos para los enlaces cuando se pasa el mouse sobre ellos */
span a:hover {
    text-decoration: underline;
    color: #000;
}

/* Estilos específicos para pantallas pequeñas utilizando media queries */
@media only screen and (max-width: 768px) {
    .side-image {
        border-radius: 10px 10px 0 0;
    }

    img {
        width: 35px;
        position: absolute;
        top: 20px;
        left: 47%;
    }

    .text {
        position: absolute;
        top: 90%;
        text-align: center;
    }

    .text p,
    i {
        font-size: 16px;
    }

    .row {
        max-width: 420px;
        width: 100%;
    }
}

/* Estilos para los elementos después del header */
.main-heading {
    text-align: center;
    color: white;
    margin-top: 60px;
}

.section {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    /* Controla el ancho máximo de los elementos */
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

h2 {
    color: #007bff;
}

h3 {
    color: #333;
}

/* Estilos para el botón "Ingrese aquí" */
.btn-container {
    text-align: center;
    /* Centramos horizontalmente */
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    /* 30% más grande */
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

/* nav */
/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #47b2e4;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 250px;
}

.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo-details .icon {
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
    opacity: 1;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
    text-align: right;
}

.sidebar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list {
    margin-top: 20px;
    height: 100%;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 130, 206, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}

.sidebar input {
    font-size: 15px;
    color: #FFF;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #47b2e4;
}

.sidebar.open input {
    padding: 0 20px 0 50px;
    width: 100%;
}

.sidebar .bx-search {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #47b2e4;
    color: #FFF;
}

.sidebar.open .bx-search:hover {
    background: #47b2e4;
    color: #FFF;
}

.sidebar .bx-search:hover {
    background: #FFF;
    color: #47b2e4;
}

.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #47b2e4;
}

.sidebar li a:hover {
    background: #FFF;
}

.sidebar li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: #47b2e4;
}

.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.sidebar li.profile {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #47b2e4;
    transition: all 0.5s ease;
    overflow: hidden;
}

.sidebar.open li.profile {
    width: 250px;
}

.sidebar li .profile-details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebar li img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}

.sidebar li.profile .job {
    font-size: 12px;
}

.sidebar .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #47b2e4;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
    width: 50px;
    background: none;
}

.home-section {
    position: relative;
    background: #E4E9F7;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.open~.home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.home-section .text {
    display: inline-block;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 18px
}

@media (max-width: 420px) {
    .sidebar li .tooltip {
        display: none;
    }
}
