/* libro de reclamaciones */

        body {
            background-color: #6A5ACD; /* Morado */
            color: white;
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: center;
        }

        form {
            background-color: #87cfeb00; /* Celeste */
            padding: 20px;
            border-radius: 10px;
            width: 60%;
            margin: 0 auto;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        input[type="date"],
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #fff;
            border-radius: 5px;
        }

        textarea {
            resize: vertical;
        }

        input[type="submit"] {
            background-color: #6A5ACD; /* Morado */
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #483D8B; /* Morado más oscuro al pasar el mouse */
        }

        /* SUGERENCIAS*/

       
        body {
            background-color: #6A5ACD; /* Morado */
            color: white;
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: center;
        }

        form {
            background-color: #87cfeb00; /* Celeste */
            padding: 20px;
            border-radius: 10px;
            width: 60%;
            margin: 0 auto;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input[type="text"],
        input[type="email"],
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #fff;
            border-radius: 5px;
        }

        textarea {
            resize: vertical;
        }

        input[type="submit"] {
            background-color: #6A5ACD; /* Morado */
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #483D8B; /* Morado más oscuro al pasar el mouse */
        }

